@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a1a;
  color: #e5e7eb;
}

.glass-card {
  background: rgba(23, 23, 43, 0.6);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e33;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00f6ff;
  border-radius: 10px;
  border: 2px solid #1e1e33;
}
